<!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8">
  <% include ./partials/head %>
</head>
<body>
  <div>
    <div>
      <% include ./partials/header %>
      </nav>
    </div>
    <br/>
    <div class="jumbotron"> <p>
    This is place to put content. You can put slider, short description about your website and place some links for navigation.
    </p></div>
    </div>
  </body>
</html>
